*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}
html{
    scroll-padding-top: 60px;
}
h2 , h3{
    font-family: "Montserrat", sans-serif;
}
header{
    background-image: linear-gradient(#00000021 , #000) ,  url(../imgs/bg.jpg);
    height: 100vh;
    background-size: cover;
}
.navbar-toggler{
    border: none;
    color: white;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-brand{
    font-family: "Montserrat", sans-serif;
}
.navbar-nav .nav-link{
    cursor: pointer;
}
.navbar-nav .nav-link.active::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 75%;
    background-color: white;
    bottom: 10px;
}
.navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: white;
    bottom: 10px;
    transition: 0.5s;
}
.navbar-nav .nav-link:hover::before{
   width: 75%;
}
header .content p{
    font-family: "Montserrat", sans-serif;
}
header .social .svg-inline--fa{
    background-color: rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.scrolled .navbar-toggler{
    color: #000 !important;
}
.scrolled .navbar-brand{
    color: #000 !important;
}
.scrolled .navbar{
    background-color: #fff;
    box-shadow: 0px 6px 5px #dddddd63;
} 
.scrolled .navbar-nav .nav-link {
    color: #000 !important; 
}

.scrolled .navbar-nav .nav-link:hover {
    color: #000 !important; 
}

.scrolled .navbar-nav .nav-link::before {
    background-color: #000;
}
.about .image::before{
    content: "";
    position: absolute;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    height: 70%;
    width: 70%;
    left: -30px;
    bottom: -30px;
    z-index: -1;
}
.about .button .btn:last-child{
    border: 1px solid black ;
    transition: 0.5s;
}
.about .button .btn:first-child{
    transition: 0.5s;
}
.about .button .btn:first-child:hover{
    cursor: pointer;
    background-color: white;
    color: black !important;
}
.about .button .btn:last-child:hover{
    cursor: pointer;
    background-color: black;
    color: white !important;
}
@media(max-width: 991px){
    .about .text{
        margin-top: 40px;
    }
}
.shape{
    position: relative;
}
.shape::after{
    content: "";
    position: absolute;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    width: 140px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.services .box{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.services .svg-inline--fa{
    background-color: #ddd;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}
.services .box:hover .svg-inline--fa{
   color: #ddd;
   background-color: black;
}
.works .nav-link.active::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px
}
.works .nav-link::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    transition: 0.5s;
}
.works .nav-link:hover::after{
    width: 60%;
}
.works .inner{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
}
.works .svg-inline--fa{
    color: #ddd;
    height: 30px;
    width: 30px;
    transition: 0.5s;
}
.works .svg-inline--fa:hover{
    background-color: white !important;
    color: black !important;
    cursor: pointer;
    border: 1px solid black
}
.works .inner:hover{
   transform: translateY(0px);
   opacity: 1;
}
.tab-content>.active {
    display: flex;
}
.clients .testi img{
    width: 50px;
    height: 50px;
}
.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: 50px;
}
.result span{
    font-family: "Montserrat", sans-serif;
}
.team .inner{
    position: absolute;
    content: "";
    background-color: white;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transition: 0.5s;
    transform: rotatey(180deg);
}
.team .card:hover .inner{
    transform: rotate(0deg) ;
    opacity: 1;
}
.team .svg-inline--fa{
    height: 30px;
    width: 30px;
    transition: 0.5s;
}
.team .svg-inline--fa:hover{
    background-color: white !important;
    color: black !important;
    cursor: pointer;
    border: 1px solid black
}
.team .card{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.team .card .image{
    overflow: hidden;
    cursor: pointer;
}
.team .card img{
    transition: 0.5s;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.team .card .image:hover img{
    transform: scale(1.1);
}
.team .card .card-body p{
    font-family: "Montserrat", sans-serif;
}
.contact .svg-inline--fa{
    height: 30px;
    width: 30px;
    transition: 0.5s;
    background-color: #ddd;
}
.contact .svg-inline--fa:hover{
    color: white;
    background-color: black;
}
textarea , input{
    background-color: #ddd;
    border: none;
    outline: none;
    padding: 5px;
}
input{
    height: 50px !important;
    width: 50%;
}
textarea{
    height: 150px !important;
}
form .btn{
    transition: 0.5s;
}
form .btn:hover{
    cursor: pointer !important;
    color: black !important;
    background-color: white !important;
    border: 1px solid black !important;
}
@media(max-width: 991px){
    form .one{
        flex-direction: column;
    }
    form input{
        width: 100%;
    }
}
footer{
    background-color: #1c1c1c;
}
.tab-content>.active {
    display: flex;
    gap: 20px;
}